<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imyuanxiao.rbac.mapper.OrganizationMapper">

    <resultMap id="BaseResultMap" type="com.imyuanxiao.rbac.model.entity.Organization">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_name,created_time,
        updated_time
    </sql>

    <!--根据用户id查询org id集合-->
    <select id="selectIdsByUserId" resultType="java.lang.Long">
        select org_id from user_organization where user_id = #{userId}
    </select>


</mapper>
