<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imyuanxiao.rbac.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.imyuanxiao.rbac.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,user_phone,
        user_email,user_password,user_status,
        updated_time,created_time
    </sql>

    <select id="selectPage" resultType="com.imyuanxiao.rbac.model.vo.UserPageVO">
        select
            id, username, user_status
        from
            user
                ${ew.customSqlSegment}
    </select>

    <select id="selectLoginHistory" resultType="com.imyuanxiao.rbac.model.vo.LoginHistoryPageVO">
        select ulh.id, u.username, ulh.type, ulh.created_time, ulh.ip_address, ulh.user_agent
        from user_login_history ulh
        join user u on u.id = ulh.user_id
        <where>
            <if test="username != null and username != ''">
                and u.username like CONCAT('%', #{username}, '%')
            </if>
        </where>
    </select>

</mapper>
